Data Manipulation and analysis are the key task in any data science or data analyst project. Pandas provides a wide range of function for data manipulation and analysis, making it easier to clean, transform and extract insights from data. Lets see the various data manipulation and analysis techniques using pandas.
By using Pandas,we can do exploratory data analysis, perform a lot of feature engineering.

Introduction to Pandas & DataFrames
- Install pandas (pip install pandas)
- Create Series & DataFrames
- Import data from CSV, Excel, JSON, SQL
- Explore dataset using df.head(), df.info(), df.describe(), df.shape

Indexing & Selecting Data
- Indexing methods: ```loc[], iloc[], at[], iat[]```
- Column selection: ```df['col'], df[['col1', 'col2']]```
- Row selection: ```df.iloc[rows], df.loc[rows]```
- Filtering with conditions:``` df[df['col'] > value]```

Data Cleaning & Handling Missing Values
- Detect missing values: ```df.isnull(), df.notnull()```
- Fill missing values:``` df.fillna(value/method='ffill'/'bfill')```
- Remove missing values:``` df.dropna()```
- Replace values: ```df.replace(old, new)```

Data Manipulation & Transformation
- Change data types: ```df.astype()```
- Rename columns:``` df.rename()```
- Apply functions:``` df.apply(), df['col'].map()```
- Modify string values:``` .str.lower(), .str.replace(), .str.split()```

Data Analysis & Aggregation:

Sorting & Filtering Data
- Sorting:``` df.sort_values(by='col')```
- Filter rows using multiple conditions
- Find unique values: ```df.nunique(), df['col'].unique()```

Grouping & Aggregation
- Grouping with ```df.groupby()```
- Aggregation with``` .agg(), .sum(), .mean()```
- Pivot tables:``` df.pivot_table()```

 Merging, Joining & Concatenation
- Merge datasets using ```df.merge()```
- Concatenate datasets using ```pd.concat()```
- Join data using ```df.join()```

Time-Series & Performance Optimization:

Working with Dates & Time
- Convert strings to datetime:``` pd.to_datetime()```
- Extract year, month, day:``` df['date'].dt.year```
- Time-based filtering: ```df[df['date'] > '2023-01-01']```

Advanced Pandas Functions
- Reshape data with``` df.melt()```
- Explode lists using ```df.explode()```
- Use``` df.eval()``` for expressions

Performance Optimization
- Convert data types for efficiency
- Use ```.apply() ```efficiently
- Optimize memory usage using``` .astype()```

Real-World Applications & Projects:

Mini Projects
- Project 1: Customer Purchase Analysis
- Project 2: Airbnb Price Prediction Dataset
- Project 3: Stock Market Data Analysis

#### Pick any real-world dataset (Kaggle, UCI)
#### Perform full analysis (Cleaning → Transformation → Aggregation → Visualization)

In [2]:
# ========================Data Manipulation with Numpy and Pandas============================== 
import numpy as np
import pandas as pd

# Lets dive in with the sample dataset, perform analysis, eda, handling missing values and others..

df = pd.read_csv("data_set/data.csv")

print(df.head()) # return first 5 rows 
print(df.tail()) # return last 5 rows
df.info() # There are 50 records and found the sales and values have null values in their column 
df.describe() # return the basic stats about the data frame for the numerical columns 
# but not the categorical columns are considered
df.dtypes
df.columns
df.index
df.shape

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North
          Date Category  Value   Product  Sales Region
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      50 non-null     object
 1   Category  50 non-null     object
 2   Value     47 non-null     float64
 3   Product   50 non-null     object
 4   Sales     46 non-null     float64
 5   Region    50 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.5+ KB

(50, 6)


####  Indexing & Selecting Data:
  - Indexing methods: ``` loc[], iloc[], at[], iat[]```
  - Column selection: ``` df['col'], df[['col1', 'col2']]```
  - Row selection: ``` df.iloc[rows], df.loc[rows]```
  - Filtering with conditions: ``` df[df['col'] > value]```

In [3]:
# Indexing Methods
# DataFrame.at : Access a single value for a row/column pair by label and/or set an value to that position
# DataFrame.iat : Access a single value for a row/column pair by integer position and/or set an value to that integer position
# DataFrame.loc : Access a group of rows and columns by label(s).
# DataFrame.iloc : Access a group of rows and columns by integer position(s).

df.loc[2,"Sales"]
df.loc[0]
df.loc[df["Category"]== "A"]
df.loc[(df["Category"]== "A") & (df["Sales"] > 200)]

df.iloc[0,1]
df.iloc[[0,1,2,4,5,6,7]]
df.iloc[1:7, 2:]
df.iloc[[0,1],[2,3]]

df.at[0 , "Sales"]
df.at[0 , "Sales"] = 755
df.at[0 , "Sales"]
df.loc[2].at["Value"] 

df.iat[1,5]
df.iat[1,5] = "South"
df.iat[1,5]
df.loc[1].iat[5] 

# Column Selection 

df["Category"] # any single column by their column name
df[["Category", "Sales", "Sales","Value"]] # select any no of column and retrieve it in any order as we need

# Row Selection 
df.loc[2:5,:]
df.loc[:7,:]
df.loc[0:5, "Sales"]

df.iloc[0:5,:]
df.iloc[:,4:]

# Filtering with condition 
df.loc[df["Sales"]>500]
df[(df["Category"]=="A") | (df["Category"]=="B") ]
df[(df["Sales"]>200) & (df["Sales"]<500) ]

          Date Category  Value   Product  Sales Region
2   2023-01-03        C   32.0  Product2  398.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
13  2023-01-14        A   69.0  Product1  423.0   East
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
27  2023-01-28        C   56.0  Product2  224.0  North
32  2023-02-02        B   63.0  Product3  338.0  South
38  2023-02-08        C   94.0  Product1  408.0  South
41  2023-02-11        C   97.0  Product1  256.0   East

In [ ]:
# Handling Missing Values:
# Data Cleaning & Handling Missing Values
# - Detect missing values: ```df.isnull(), df.notnull()```
# - Fill missing values:``` df.fillna(value/method='ffill'/'bfill')```
# - Remove missing values:``` df.dropna()```
# - Replace values: ```df.replace(old, new)```


# When the dataset get loaded, we generally check the Shape,structure and columns, head and tail, dtypes, 
# and total entries, dtypes, null values if any. 

# To see how many missing values exist in each column:
df.isnull() # return the Dataframe with true and False values on each index
df.isnull().sum() # return the sum of each columns null Values 

# To see how many non-missing values exist in each column:
df.notnull() # return the Dataframe with true and False filled on each index, True means values not null, False for null values
df.notnull().sum() # Return the count of not null for each column 
# it gives the count of non missing values in each column if any exist
# This way we can detect the missing values easily and guess how many null values in each columns

#  Find Rows That Contain Missing Values 
df.isnull().any(axis=1).sum() # No of rows in total have the null/missing values
df[df.isnull().any(axis=1)] # All the rows which have at least one null/missing value
df.isnull().any() # Which return the column which has missing values 
# Find Rows Where a Specific Column Has Missing Values
df[df["Sales"].isnull()]
df[df["Value"].isnull()]

#  Get the Percentage of Missing Data in Each Column
(df.isnull().sum()/len(df))*100


# Filling missing values:
# df.fillna(value/method='ffill'/'bfill')

df1 = df.fillna(0) # All the missing values will be replaced with zero 
# In general it is temporary, it doesn't persistent, so we must save it a variable to get the filled Dataframe and work on it
df1.isnull().sum() # No missing valaues now.
# Commonly, we don't usually fill with zero's, probably it depends on the values distribution and/or mean of the whole column 

# Filling missing values with mean of the column 

# df["Sales"].mean() # it gives the mean of that column 
df["Sales_fillNA"] = df["Sales"].fillna(df["Sales"].mean()) 
# Above, we fill the Sales column missing values with mean of that column and named it as Sales_fillNA
df["Sales_ffill"] = df["Sales"].bfill() # the missing value replaced with the value at the previous row
df["Sales_bfill"] = df["Sales"].ffill() # the missing value replaced with the value in the next row 


# Remove Missing Values
df3 = pd.read_csv("data_set/data.csv")

df3.isnull().sum() 
# sales has 4 missing values, Value has 3 missing values

x = df3.dropna() # this takes parameter such as axis,how:any | all, thresh,subset,inplace:True|False,ignore_index:True|False
# Drop the rows where at least one element is missing.

x.isnull().sum() 
# it shows that all the null valued row are dropped


# - Replace values: df.replace(old, new)
df4 = pd.DataFrame({
  "Name":["Natarajan","Karikalan","Athistalakshmi","Nitro","Leela"],
  "Age":[32,30,22,28,55],
  "Location":["Trichy","Thirunelveli","Thirupathi","Ariyalur","Vilagam"]
})
df4.replace(30,32) # it would replace all the 30 data into 32 irrespective any row or column
df4.replace([32,22,55],25) # it would replace all the 32,22,55 to 25 
df4.replace("Natarajan","Natraj") # Natarajan becomes Natraj
df4.replace([32,30,22,28,55],[11,22,33,44,55])
df4.replace({"Trichy":"Thiruchirapalli","Thirupathi":"Palani"})
df4.replace({32:30,22:30,55:30}) 
df4.replace({"Age":{0:40,4:55},"Location":{"Ariyalur":"Ariyalurr","Vilagam":"Valaagam"}})

df.isnull().sum()
df[df.isnull().any(axis=1)]

In [85]:
# lets focus on changing the dtype of some column like date column object dtype to date. 
# Later we will see while EDA, we will see how to change the dtype of date column from object dtype to date column. 

# Data Manipulation & Transformation
# - Change data types: ```df.astype()```
# - Rename columns:``` df.rename()```
# - Apply functions:``` df.apply(), df['col'].map()```
# - Modify string values:``` .str.lower(), .str.replace(), .str.split()```

# Change the datatype:
# To change the dtype of the date from object column to date column, we may use the df.astype()
# eg: on sales column, the dtype is float64, wanna cast to float32
df["Value_new"] = df["Value"].fillna(df["Value"].mean()).astype("int32")


# RENAME Columns
# To rename a column we can use the rename method on dataframe 
# here the column parameter is used columns:{"MAPPER":"rename column"}
df.rename(columns={"Date":"Sales_Date"}) 

# lets say i wanna apply a function to a column eg: value got raised by 10% 
df["Revised_value"] = ((df["Value"].fillna(df["Sales"].mean()))*1.1).astype("int32")

# here we can apply function on the column values to manipulate the column, we can pass the lambda or inbuilt function 
df["Double_value"] = df["Value_new"].apply(lambda x:x*2)

df["Sales_drop_to"] = df["Sales_fillNA"].map(lambda x:x*0.9)
df5 = df.rename(columns={"double_scaled_value":"Double_Value","sales_depreciation_by_10":"Sales_drop_to","Revised_value":"Re_value"})

In [ ]:
# Data Aggregation and Data Grouping
# Grouping & Aggregation
# - Grouping with ```df.groupby()```
# - Aggregation with``` .agg(), .sum(), .mean()```
# - Pivot tables:``` df.pivot_table()```
# Grouping the data 
# LETS GROUP THE DATA BY CATEGORY 

df5.groupby("Category")["Value"].mean()
df5.groupby("Product")["Value"].mean()

# grouping by more than one column 
grouped_sum = df5.groupby(["Product","Category"])["Sales_fillNA"].sum()
grouped_mean = df5.groupby(["Product","Category"])["Sales_fillNA"].mean()

# Multiple aggregate functions on multiple values grouped by region:
grouped_agg = df5.groupby("Region")[["Sales_fillNA","Value_new"]].agg(["mean","sum","count"])

# pivot table


#  Merging, Joining & Concatenation
# - Merge datasets using ```df.merge()```
# - Concatenate datasets using ```pd.concat()```
# - Join data using ```df.join()```


# Merging and joining and concatenating Dataframes
# create a sample dataframe
df1 = pd.DataFrame({"key":["A","B","C","D"],"values":[1,2,3,4]})
df2 = pd.DataFrame({"key":["A","B","C","E"],"values":[4,5,6,7]})

# merge the dta frames on the key columns =>mean the join 
pd.merge(df1,df2,on="key", how="inner")
pd.merge(df1,df2,on="key", how="outer")
pd.merge(df1,df2,on="key", how="left")
pd.merge(df1,df2,on="key", how="right")

  key  values_x  values_y
0   A       1.0         4
1   B       2.0         5
2   C       3.0         6
3   E       NaN         7